*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
:root {
  --primary-color: #c69963;
  --primary-color-dark: #b28451;

  --secondary-color: #101d2c; /* Dark Blue */

  --color-grey-light-1: #f9f7f6;
  --color-grey-light-2: #aaa;

  --color-grey-dark-1: #54483a;
  --color-grey-dark-2: #605048;

  --font-primary: "Nunito", sans-serif;
  --font-secondary: "Josefin Sans", sans-serif;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: var(--font-primary);
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 300;
}
.container {
  display: grid;
  grid-template-rows: 80vh auto 40vw repeat(3, auto);
  grid-template-columns:
    [sd-start]8rem[sd-end full-start] minmax(6rem, auto) [center-start]repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end]
    minmax(6rem, 1fr) [full-end];
}
.sidebar {
  background-color: var(--primary-color);
  grid-column: sd-start / sd-end;
  grid-row: 1/-1;
  display: grid;
  grid-template-rows: min-content;
  .menu-btn {
    border: none;
    background-color: transparent;
    height: 4vw;
    display: flex;
    .content {
      width: 100%;
      height: 100%;
      stroke-width: 1;
      color: white;
    }
  }
}

.header {
  background-color: var(--color-grey-dark-1);
  grid-column: full-start/col-end 6;
}

.realtors {
  background-color: var(--secondary-color);
  grid-column: col-start 7 / full-end;
}
.features {
  /* background-color: var(--color-grey-light-2); */
  grid-column: center-start / center-end;
  display: grid;
  /* grid-template-columns: subgrid; */
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  /* grid-template-rows: repeat(2, 1fr); */
  margin: 15rem 0;
  gap: 6rem;

  & > * {
    display: flex;
    gap: 0.8rem;
    .heading {
      margin-bottom: 2rem;
      font-family: var(--font-secondary);
      font-weight: 400;
      font-size: 1.8rem;
    }
  }
}
.story {
  /* background-color: greenyellow; */
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;

  .story-pictures {
    grid-column: full-start/ col-start 5;
    background-image: url(https://images.unsplash.com/photo-1562660575-1d15abf4b24c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    align-items: center;

    .image-1 {
      width: 100%;
      grid-column: 2/6;
      grid-row: 2/6;
      box-shadow: 1px 1px 5px 1px rgb(0, 0, 0, 0.5);
    }
    .image-2 {
      box-shadow: 1px 1px 5px 1px rgb(0, 0, 0, 0.5);
      align-self: start;
      width: 115%;
      grid-row: 4/6;
      grid-column: 4/-1;
    }
  }
  .story-content {
    grid-column: col-start 5 / full-end;
    display: grid;
    grid-template-columns: subgrid;
    align-items: center;

    .story-box {
      grid-column: col-start 2 / span 3;

      & > *:not(:last-child) {
        margin-bottom: 5%;
      }
      .heading-primary {
        font-family: var(--font-primary);
        text-transform: uppercase;
        font-weight: 300;
        color: #c69963;
        font-size: 1.5rem;
      }
      .heading-secondary {
        font-family: var(--font-secondary);
        font-weight: 400;
        font-size: 4rem;
        line-height: 1;
      }
      .btn {
        border: none;
        background-color: #b28451;
        color: white;
        font-size: 1.5rem;
        text-transform: uppercase;
        padding: 1.5rem 1rem;
      }
    }
  }
}
.homes {
  /* background-color: var(--secondary-color); */
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 7rem;
  .home {
    display: grid;
    /* width: 100%; */
    grid-template-rows: repeat(2, 1fr) 2rem min-content min-content;
    grid-template-columns: repeat(6, 1fr);
    position: relative;

    img {
      width: 100%;
      align-self: stretch;
      object-fit: cover;
      grid-column: 1/-1;
      grid-row: 1/3;
    }
    svg {
      grid-row: 1/2;
      grid-column: 6/-1;
      justify-self: end;
    }
    .heading {
      grid-row: 3/4;
      grid-column: 2/6;
      height: 200%;
      align-self: end;
      z-index: 10;
      font-family: var(--font-secondary);
      font-size: 1.2rem;
      line-height: 1;
      background-color: #101d2c;
      color: white;

      text-align: center;
      /* justify-self: center; */
      padding: 1.5rem 2rem;
      /* transform: translateY(50%); */
      z-index: 10;
    }
    .details {
      background-color: #f9f7f6;
      grid-column: 1/-1;
      grid-row: 3/5;
      display: grid;
      grid-template-columns: subgrid;
      /* align-content: center; */
      /* gap: 5rem; */
      & > * {
        grid-column: span 3;
        padding: 2rem;
        font-size: 1.5rem;
        display: flex;
        /* justify-content: space-between; */
      }
    }
    .contact-btn {
      grid-row: 5/6;
      grid-column: 1/-1;
      border: none;
      background-color: #b28451;
      color: white;
      text-transform: uppercase;
      padding: 1.5rem 1rem;
    }
  }
}
.gallery {
  /* background-color: var(--color-grey-dark-1); */
  grid-column: full-start / full-end;
  display: grid;
  grid-template-rows: repeat(7, 5vw);
  grid-template-columns: repeat(8, 1fr);
  gap: 1.5rem;
  padding: 2rem;
  & > * {
    width: 100%;
    object-fit: cover;
    align-self: stretch;
  }
  .image-1 {
    grid-row: 1/3;
    grid-column: 1/3;
  }
  .image-2 {
    grid-row: 1/4;
    grid-column: 3/6;
  }
  .image-3 {
    grid-row: 1/3;
    grid-column: 6/7;
  }
  .image-4 {
    grid-row: 1/3;
    grid-column: 7/9;
  }
  .image-5 {
    grid-row: 3/6;
    grid-column: 1/3;
  }
  .image-6 {
    grid-row: 4/6;
    grid-column: 3/5;
  }
  .image-7 {
    grid-row: 4/5;
    grid-column: 5/6;
  }
  .image-8 {
    grid-row: 3/5;
    grid-column: 6/8;
  }
  .image-9 {
    grid-row: 3/6;
    grid-column: 8/9;
  }
  .image-10 {
    grid-row: 6/8;
    grid-column: 1/2;
  }
  .image-11 {
    grid-row: 6/8;
    grid-column: 2/4;
  }
  .image-12 {
    grid-row: 6/8;
    grid-column: 4/5;
  }
  .image-13 {
    grid-row: 5/8;
    grid-column: 5/8;
  }
  .image-14 {
    grid-row: 6/8;
    grid-column: 8/9;
  }
}

.footer {
  background-color: var(--secondary-color);
  grid-column: full-start/full-end;
  /* padding: 8rem; */
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: repeat(2, min-content);
  color: rgba(255, 255, 255, 0.6);
  /* gap: 2rem; */

  .nav {
    grid-column: 2/10;
    list-style: none;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 3rem;
    margin: 8rem 0;
    li {
      padding: 2rem;
      justify-self: center;
      align-self: center;
      text-align: center;
    }
  }
  p {
    grid-column: 2/-1;
    justify-self: center;
    padding: 1rem;
    margin-bottom: 10rem;
  }
}
.lucide-heart-icon {
  margin: 10px;
}
